.container1 {
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 40px;
  color: #3dc6b6;
  background: #fff;
  border-color: #e8e8e8;
  border-bottom: 1px solid #fff;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #3dc6b6
}
.ant-tabs-bar {
  background: #ffffff;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}