.promotion-container {
  margin-top: 20px;
  background: #ffffff;
}
.promotion-slogan {
  font-weight: thin;
  font-size: 12px;
  margin-left: 10px;
  color: #999999
}
.promotion-title {
  margin: 0 0 10px 10px;
  padding-top: 10px
}
.img-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 20px 10px;
}
img {
  width: 250px;
  height: 150px;
  margin-right: 2px;
}