.promotion-container {
  margin-top: 30px;
}
.promotion-slogan {
  font-weight: thin;
  font-size: 12px;
  margin-left: 10px;
  color: #999999
}
.img-container {
  display: flex;
  justify-content: space-between;
}
img {
  width: 250px;
  height: 150px;
  margin-right: 2px;
}