.ant-card-meta-title {
  overflow: hidden;
  color: orange;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}
.promote-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.ant-layout-header {
  background: #f0ecec;
  padding: 0;
  height: auto;
}
.options-container {
  display: flex;
  justify-content: flex-start;
}
.options {
  border-left: 1px solid #000000;
  padding: 0 10px 0 10px
}
.tags span {
  display: inline-block;
  margin-right: 4px;
  font-size: 12px;
}
.reply {
  margin-top: 5px;
  height: 20px;
  width: 100px;
  background: rgb(247, 217, 206);
  font-size: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 6%;
  color: orange
}
.ant-layout-footer {
  padding: 14px 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: #f0f2f5;
}