.body {
  background: #f8f8f8;
}
.white-block {
  height: 20px;
}
.header {
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab-width {
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
}