.body {
  background: #f0ecec;
}
.white-block {
  height: 20px;
}
.header {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.tab-width {
  width: 80%;
  margin: 0 auto;
}