.navigator {
  background: #d5d3d5;
}
.menu-name {
  display: block;
  width: 100%;
  font-weight: normal;
  text-align: center;
}
.ant-menu-item-selected {
  color: #3dc6b6
}
.ant-menu-item:hover{
  color: #3dc6b6
}
.img-height {
  height: 480px;
}
.sider-img {
  height: 160px;
  width: 100%;
}
body {
  background: #ffffff;
}