.navigator {
  background: #d5d3d5;
}
.menu-name {
  display: block;
  width: 100%;
  font-weight: normal;
  text-align: center;
}
.ant-menu-item-selected {
  color: #3dc6b6
}
.ant-menu-item:hover{
  color: #3dc6b6
}
.img-height {
  height: 480px;
}
.sider-img {
  height: 120px;
  width: 100%;
  border: 1px solid black;
}
body {
  background: #ffffff;
}
.bar {
  border-radius: 10px;
  border: 5px solid rgb(243, 101, 35);
}